body{
    overflow-x: hidden;
}
.navbar{
    background-color: rgb(243, 237, 233);
}
.nav-link{
    color: rgb(131, 121, 107);
    font-family: spartan;
}
.nav-link:hover{
    color: black;
}
a{
    text-decoration: none;
}
.webdev{
    opacity: 40%;
    color: rgb(131, 121, 107);
}
.mypic{
    height: 300px;
    object-fit: cover;
    margin-top: 75px;
    margin-left: 40px;
}
.parallax{
    background-image: url(./images/ryder-cash-media-3DrRK-NlsXk-unsplash.jpg);
    /* height: 400px;  */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Photo by Ryder Cash Media on Unsplash */
}
.parallax2{
    background-image: url(./images/ryder-cash-media-copy2.jpg);
    /* height: 30vh; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Photo by Ryder Cash Media on Unsplash */
}
.jumbotron{
    background-color: rgb(205, 203, 203);
    height: 300px;
    width: 750px;
}    
footer{
    background-color: rgb(243, 237, 233);
    font-family: spartan;
    padding: 50px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-brands {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-brands:hover {
    opacity: 0.7;
    color: black;
}
.fa:hover {
    opacity: 0.7;
    color: black;
}
.fa-twitter {
    background-color: transparent;
    color: lightslategray;
}
.fa-facebook {
    background-color: transparent;
    color: lightslategray;
}
.fa-github {
    background-color: transparent;
    color: lightslategray;
}
.fa-linkedin {
    background-color: transparent;
    color: lightslategray;
  }
.email {
    color: black;
}